{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto mt-20">
    <h2>Income Details</h2>
    <table class="table table-bordered">
        <tr><th>Date Added</th><td>{{ income.date_added }}</td></tr>
        <tr><th>Description</th><td>{{ income.description }}</td></tr>
        <tr><th>Reference</th><td>{{ income.id }}</td></tr>
        <tr><th>Amount</th><td>{{ income.amount }}</td></tr>
        <tr><th>Reconciliation Account</th><td>{{ income.reconciliation_account }}</td></tr>
        <tr><th>Status</th><td>{{ income.reconciliation_status }}</td></tr>
        <tr>
            <th>Income File</th>
            <td>
                {% if income.income_file %}
                    <a href="{{ income.income_file.url }}" target="_blank" class="btn btn-success">View File</a>
                    <a href="{{ income.income_file.url }}" download class="btn btn-warning">Download</a>
                {% else %}
                    <span class="text-danger">No file uploaded</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Reconciliation File</th>
            <td>
                {% if income.reconciliation_file %}
                    <a href="{{ income.reconciliation_file.url }}" target="_blank" class="btn btn-success">View File</a>
                    <a href="{{ income.reconciliation_file.url }}" download class="btn btn-warning">Download</a>
                {% else %}
                    <span class="text-danger">No file uploaded</span>
                {% endif %}
            </td>
        </tr>
    </table>
    <a href="{% url 'accounting:income_list' %}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %}
